README.md
src/**
*.zip
*.tgz
dist/examples/**

webpack.config.*
jest.config.*
tsconfig.json
tsconfig.*.json
nodemon.*
bin/**

dist/**/*.test.js
dist/**/*.test.d.ts

/test-reports/**
/examples/**
/docs/**
.eslintignore
.eslintrc
.prettierignore
.prettierrc
